@font-face {
		font-family: 'vg-font';
		src: url('../fonts/fledgling-sb.eot');
		src: url('../fonts/fledgling-sb.woff') format('woff'),
	       url('../fonts/fledgling-sb.ttf') format('truetype'),
	       url('../fonts/fledgling-sb.svg') format('svg');
		font-weight: normal;
		font-style: normal;
}

#navbar {
		font-size: 50px;
		font-family: 'vg-font', sans-serif;
}

.content {
		h2 {
				font-family: 'vg-font', sans-serif;
				text-transform: uppercase;
		}
		p {
				font-family: sans-serif;
		}
}
