@font-face {
		font-family: 'vg-font';
		src: url('../fonts/fledgling-sb.eot');
		src: url('../fonts/fledgling-sb.woff') format('woff'),
	       url('../fonts/fledgling-sb.ttf') format('truetype'),
	       url('../fonts/fledgling-sb.svg') format('svg');
		font-weight: normal;
		font-style: normal;
}
