@import "font";
html {
		height: 100%;

		body {
				height: 100%;

				nav {
						.navbar-header {
								min-height: 12rem;
								.logo {
										max-width: 145px;
								}
						}

						#navbar {
							  font-size: 50px;
						    font-family: 'vg-font', sans-serif;

								ul {
										margin-top: 3rem;
								}
						}
				}

				.imageContainer {
						#image-carousel img {
								width: 100%;
						}

						.carousel-control.left, .carousel-control.right {
								background-image: url();
						}
				}

				.content {
					  height: 29%;
						h2 {
								font-family: 'vg-font', sans-serif;
								text-transform: uppercase;
						}
						p {
								font-family: sans-serif;
						}
				}

				.footer {
						min-height: 70px;
						background-color: #f8f8f8;
				}
		}
}
