@import "light_theme";
@import "font";
html {
		height: 100%;

		body {
				height: 100%;
				nav {
						.navbar-header {
								min-height: 12rem;
								.logo {
										max-width: 145px;
								}
						}

						#navbar {
								ul {
										margin-top: 3rem;
								}
						}
				}

				.imageContainer {
						#image-carousel img {
								width: 100%;
						}

						.carousel-control.left, .carousel-control.right {
								background-image: url();
						}
				}

				.content {
					  height: 29%;
				}

				.footer {
						min-height: 70px;
				}
		}
}
